HTML/indexinit.html
<!DOCTYPE html><html><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Logger ESP32 : Index</title><link href="css/bootstrap.min.css" rel="stylesheet"></head><body onload="startTime()"><div class="container-fluid"><div class="row"><div class="col-md-12"><nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark static-top"><button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand" href="#">Logger</a><div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><ul class="navbar-nav"><li class="nav-item active"><a class="nav-link" href="#">Heure<span class="sr-only">(current)</span></a></li></ul></div></nav><div class="jumbotron" style="text-align:center;"><h2><div id="txt"></div></h2><p><label for="rate">Période de rafraichissement en secondes :</label><input id="rate" type="text" value="30"></p><p>Pour mettre à l'heure la RTC du Logger veuillez cliquer une fois sur le bouton suivant.</p><p><button class="btn btn-primary" type="button" onclick="sendData()">Envoi des informations</button></p></div></div></div></div><script src="js/script.js"></script><script src="js/bootstrap.min.js"></script></body></html>

HTML/indexinit.pug
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Logger ESP32 : Index
    link(href="css/bootstrap.min.css" rel="stylesheet")
  body(onload="startTime()")
    .container-fluid
      .row
        .col-md-12
          nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-dark.bg-dark.static-top
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
              span.navbar-toggler-icon
            a.navbar-brand(href="#") Logger
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.navbar-nav
                li.nav-item.active
                  a.nav-link(href="#")
                    | Heure
                    span.sr-only (current)
          .jumbotron(style="text-align:center;")
            h2
              #txt
            p
              label(for="rate") Période de rafraichissement en secondes :
              input#rate(type="text" value="30")
            p
              | Pour mettre à l'heure la RTC du Logger veuillez cliquer une fois sur le bouton suivant.
            p
              button.btn.btn-primary(type="button" onclick="sendData()") Envoi des informations
    script(src="js/script.js")
    script(src="js/bootstrap.min.js")
